img{
    background: whitesmoke;
    object-fit: fill !important;
}

.css-cveggr-MuiListItemIcon-root {
    min-width: 36px !important;
}

.css-cvhtoe-MuiButtonBase-root-MuiListItemButton-root{
    padding-left: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.css-18k87ye-MuiTypography-root{
    margin: 0 !important;
}

.css-1t6e9jv-MuiCardActions-root{
    border-top: 1px solid #e2e1e1;
    background: whitesmoke;
}

.css-16bghm4-MuiDivider-root{
    margin: 0 !important;
}

hr:not([size]){
    height: auto !important;
}

.css-1t6e9jv-MuiCardActions-root{
    justify-content: space-evenly;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.css-1ri6ub7-MuiPaper-root-MuiCard-root{
    min-width: 20rem;
    margin: 1rem;
}